<?xml version="1.0" encoding="utf-8"?>
<robot name="amr_combo_v3" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find amr_combo_v3)/urdf/amr_combo_v3.urdf.xacro"/>
    
    <xacro:amr_combo_v3 name="base_footprint" parent="base_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:amr_combo_v3>

</robot>