<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="awtube2_18kg_v2" >
    <!-- Including xacro -->
    <xacro:include filename="$(find awtube2_18kg_v2)/urdf/awtube2_18kg_v2.urdf.xacro" />

    <!-- Virtual link for visualization -->
    <link name="world"/>

    <!-- Calling the xacro -->
    <xacro:awtube2_18kg_v2 parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:awtube2_18kg_v2>

</robot>